# محیط مجازی پایتون
env/
venv/

# فایل‌های موقت و کش پایتون
__pycache__/
*.pyc
*.pyo

# فایل لاگ
pipeline.log
*.log

# فایل‌های حساس و تنظیمات محلی
.env
*.env

# فایل‌های موقت سیستم‌عامل و ویرایشگر
.DS_Store
.vscode/
.idea/

# نقاط بازرسی نوت‌بوک ژوپیتر
.ipynb_checkpoints/
